/* global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
}

/* navigation styles */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #fff;
  height: 80px;
}

nav h1 {
  font-size: 2rem;
}

/* game container styles */
.gamecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 2px solid #333;
  font-size: 5rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.box:hover {
  background-color: #eee;
}

/* game info styles */
.gameinfo {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameinfo h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.info {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.imgbox img {
  width: 0;
  transition: width 1s ease-in-out;
}
#reset{
  background-color: black;
  color: white;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  margin-left: 1vw;
  align-items: center;
}
/* responsive styles */
@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
    gap: 5px;
    
  }

  .box {
    font-size: 4rem;
    flex-wrap: wrap;
  }

  .gameinfo {
    margin: 20px 0;
  }

  .gameinfo h1 {
    font-size: 1.5rem;
  }

  .info {
    font-size: 1.2rem;
  }
.gamecontainer{
  flex-wrap: wrap;
}
 
}

 