
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;
}
.container{
    background: linear-gradient(145deg,rgb(248, 248, 4),rgb(239, 84, 84));
width: 100%;
height: 100vh;
padding: 10px;
display: flex;
justify-content: center;
/* align-items: center; */

}
.todo{
    width: 50vw;
    /* height: 30vh; */
    height: fit-content;
    padding-bottom: 40px;
    display: flex;
 color: black;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: column;
    background: linear-gradient(145deg,rgb(245, 245, 207),rgba(243, 116, 5, 0.922));
    margin-top: 10vh;
}
.head{
    display: flex;
    flex-direction: row;
   justify-content: center;
 gap: 2vw;
 width: 25vw;
 margin-bottom: 2vh;
height: 5vh;
 margin-top: 2vh;
 font-size: 19px;
 margin-left: 1vw;
 padding-bottom: 25px;
}
.head i{
    margin-top: 2.5vh;
}
.inputform form{ 
    display: flex;
 width: 80%;
justify-content:space-between;
background-color: rgb(255, 255, 251);
align-items: centre;
border-radius: 20px;
/* border: 1px solid black; */
height: 5.6vh;
margin: 20px 10px 20px 60px;
}
.inputform input{
    border-radius: 20px;
/* border: 1px solid black; */
border: none;
background-color: #fff;
width: 68%;
outline: none;
font-size:20px ;
padding-left:15px;
}
.inputform button{
   width: 15%;
   border-radius: 20px;
   border: none;
   background-color: rgb(239, 84, 84);
   color: white;
   font-size: 20px;
   padding: 3px;
cursor: pointer;
}
.inputform input::placeholder{
    font-size: 20px;
    padding: 3px;
}
#lists{
    list-style: none;
    margin-left: 4vw;
    margin-top: 1vh;
    gap: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
ul li{
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    color: rgb(17, 17, 17);
    font-weight: bold;
    padding-left: 10px;
    position: relative;
    padding-right: 20px;
}
ul li::before{
    content:' ';
    position: absolute;
    height: 25px;
    width: 25px;
 background-color: #fff;
    border-radius: 50%;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top: 0px;
    left:-25px;
   
    /* padding-right: 4vw; */
}
ul li.checked{
    color: black;
    text-decoration: line-through;
}
ul li.checked::before{  
    background-image: url(checked.png);
}
ul li span{
display: inline;
top: -1vh;
right: 3vw;
font-size: 25px;
position: absolute;


}
ul li span:hover{
    background-color: rgb(196, 195, 195);
    border-radius: 50%;
}
.warning{
    margin-top: 1vh;
    font-size: 20px;
    color: red;
    margin-left: 25vh;
    margin-bottom: 1vh;
}
@media(max-width:835px){
    .head {
        font-size: 15px;
width: 100%;
display: flex;
justify-content: flex-start;
margin-left: 5vw;

    }
    .todo{
        width: fit-content;
        padding-left: 10px;
        padding-right: 10px;

    }
    .inputform {
width: 90%;
align-self: flex-start;
display: flex;
margin-left: -5vw;
}
    .inputform input{
        width: 100%;
    }
    .inputform button{
        font-size: 10px;
    }
    .inputform input::placeholder{
        font-size: 12px;
        text-align: center;

    }
    .inputform input{
        font-size: 12px;
    }
}